extends layout

block content
  h1= title
  h4(id="status") 🟢 Bot Online!
  div#allchats
  form(id="userinputform") 
    input(type="text", placeholder="Chat with bot!", name="query", id="inputforchat")
    button(type="submit", class="enterbtn") Send
