a(href="/") Home
a(href="/bot", target="_blank") Status 
a(href="/bot/response/hi") Bot Response Api 
a(href="https://github.com/ArnavK-09/simplisticchatbotever", target="_blank") Source Github
a(href="javascripts/data.js") All feeded data
br
